@use '../styles/variables' as *;

.toggleBtn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    background: $bg-accent;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: 768px) {
        right: 75px;
        top: 18px; // align center with header 
    }
}